{% load staticfiles %}

<!-- echart -->
<script src="{% static 'js/echart/echarts-all.js' %}"></script>
<script src="{% static 'js/echart/green.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- gauge js -->
<script type="text/javascript" src="{% static 'js/gauge/gauge.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gauge/gauge_demo.js' %}"></script>
<!-- bootstrap progress js -->
<script type="text/javascript" src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
<!-- icheck -->
<script type="text/javascript" src="{% static 'js/icheck/icheck.min.js' %}"></script>
<!-- daterangepicker -->
<script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
<!-- chart js -->
<script type="text/javascript" src="{% static 'js/chartjs/chart.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

<!-- flot js -->
<!--[if lte IE 8]><script type="text/javascript" src="{% static 'js/excanvas.min.js' %}"></script><![endif]-->
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.stack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/curvedLines.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>

<!-- worldmap -->
<script type="text/javascript" src="{% static 'js/maps/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/gdp-data.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/jquery-jvectormap-us-aea-en.js' %}"></script>
<!-- pace -->
<script type="text/javascript" src="{% static 'js/pace/pace.min.js' %}"></script>

<!-- skycons -->
<script type="text/javascript" src="{% static 'js/skycons/skycons.min.js' %}"></script>
<!-- select2 -->
<script type="text/javascript" src="{% static 'js/select/select2.full.js' %}"></script>

<script type="text/javascript" src="{% static 'js/analytics-requests.js' %}"></script>

<script type="text/javascript" src="{% static 'js/dropzone/dropzone.js' %}"></script>