{% include 'static_pages/header.html' %}

<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            {% include 'static_pages/sidebar.html' %}

            <!-- top navigation -->
            {% include 'static_pages/top_nav.html' %}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
            {% include page %}
            </div>
            <!-- /page content -->
        </div>
    </div>

    {% include 'static_pages/footer.html' %}
</body>

</html>
