<div class="page-title">
    <div class="title_left">
      <h3>Chimere File Upload</h3>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Dropzone multiple file uploader</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p>Drag multiple files to the box below for multi upload or click to select files.</p>
            <p><strong>The upload of a Chimere file is fast, but the processing can take a time, please grab a coffe <i class="fa fa-coffee" aria-hidden="true"></i> and wait a while. Go to the <a href="modulated.html">modulated page</a> and see if the data is showing. </strong></p>
            <form action="/api/v1/mod_data/upload/" class="dropzone dz-clickable" style="border: 1px solid #e5e5e5; height: 300px; ">
                <div class="dz-default dz-message">
                    <span>Drop files here to upload</span>
                </div>
            </form>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>