<div class="page-title">
    <div class="title_left">
      <h3>Dropbox Share Folder</h3>
    </div>
</div>

<div class="well col-md-8 col-sm-8 col-xs-12">
    <fieldset>
        <p><b>Type your email to receive one invite to the shared folder!</b><p/>
        <div class="control-group">
          <div class="controls">
            <div class="col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="emailShare" placeholder="Email">
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <button type="submit" id="sendShareEmail" class="btn btn-success">Submit</button>
    </fieldset>
    <div id="response">
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <p><b>Add your Dropbox account to the shared folder to receive the chimere .csv converted files!</b></p>
</div>