<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
      <div class="row x_title">
        <div class="col-md-4">
          <h3>Analytics</h3><small id="station_selected"></small>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 bg-white">
          <div class="col-md-4">
              <table class="table table-bordered">
                  <tbody style="text-align: center">
                    <tr>
                      <td id="month1">January</td>
                      <td id="month2">February</td>
                      <td id="month3">March</td>
                    </tr>
                    <tr>
                      <td id="month4">April</td>
                      <td id="month5">May</td>
                      <td id="month6">June</td>
                    </tr>
                    <tr>
                      <td id="month7">July</td>
                      <td id="month8">August</td>
                      <td id="month9">September</td>
                    </tr>
                    <tr>
                      <td id="month10">October</td>
                      <td id="month11">November</td>
                      <td id="month12">December</td>
                    </tr>
                  </tbody>
            </table>
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-md-3">
              <table class="table table-bordered">
                  <tbody style="text-align: center">
                    <tr>
                      <td id="day1">01</td>
                      <td id="day2">02</td>
                      <td id="day3">03</td>
                      <td id="day4">04</td>
                      <td id="day5">05</td>
                      <td id="day6">06</td>
                      <td id="day7">07</td>
                      <td id="day8">08</td>
                    </tr>
                    <tr>
                      <td id="day9">09</td>
                      <td id="day10">10</td>
                      <td id="day11">11</td>
                      <td id="day12">12</td>
                      <td id="day13">13</td>
                      <td id="day14">14</td>
                      <td id="day15">15</td>
                      <td id="day16">16</td>
                    </tr>
                    <tr>
                      <td id="day17">17</td>
                      <td id="day18">18</td>
                      <td id="day19">19</td>
                      <td id="day20">20</td>
                      <td id="day21">21</td>
                      <td id="day22">22</td>
                      <td id="day23">23</td>
                      <td id="day24">24</td>
                    </tr>
                    <tr>
                      <td id="day25">25</td>
                      <td id="day26">26</td>
                      <td id="day27">27</td>
                      <td id="day28">28</td>
                      <td id="day29">29</td>
                      <td id="day30">30</td>
                      <td id="day31">31</td>
                    </tr>
                  </tbody>
            </table>
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-md-3">
              <table class="table table-bordered">
                  <tbody style="text-align: center">
                    <tr>
                      <td id="hour0">01</td>
                      <td id="hour1">02</td>
                      <td id="hour3">03</td>
                      <td id="hour4">04</td>
                      <td id="hour5">05</td>
                      <td id="hour6">06</td>
                    </tr>
                    <tr>
                      <td id="hour7">07</td>
                      <td id="hour8">08</td>
                      <td id="hour9">09</td>
                      <td id="hour10">10</td>
                      <td id="hour11">11</td>
                      <td id="hour12">12</td>
                    </tr>
                    <tr>
                      <td id="hour13">13</td>
                      <td id="hour14">14</td>
                      <td id="hour15">15</td>
                      <td id="hour16">16</td>
                      <td id="hour17">17</td>
                      <td id="hour18">18</td>
                    </tr>
                    <tr>
                      <td id="hour19">19</td>
                      <td id="hour20">20</td>
                      <td id="hour21">21</td>
                      <td id="hour22">22</td>
                      <td id="hour23">23</td>
                    </tr>
                  </tbody>
            </table>
          </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 bg-white">
          <div id="messageAnalytics"></div>
        <div id="echart_donut" style="height:650px;"></div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</div>
