<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
      <div class="row x_title">
        <div class="col-md-4">
          <h3>Analytics</h3><small id="station_selected"></small>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 bg-white">
          <div class="col-md-4">
              <table class="table table-bordered">
                  <tbody style="text-align: center">
                    <tr>
                      <td id="month1"><strong>January</strong></td>
                      <td id="month2"><strong>February</strong></td>
                      <td id="month3"><strong>March</strong></td>
                    </tr>
                    <tr>
                      <td id="month4"><strong>April</strong></td>
                      <td id="month5"><strong>May</strong></td>
                      <td id="month6"><strong>June</strong></td>
                    </tr>
                    <tr>
                      <td id="month7"><strong>July</strong></td>
                      <td id="month8"><strong>August</strong></td>
                      <td id="month9"><strong>September</strong></td>
                    </tr>
                    <tr>
                      <td id="month10"><strong>October</strong></td>
                      <td id="month11"><strong>November</strong></td>
                      <td id="month12"><strong>December</strong></td>
                    </tr>
                  </tbody>
            </table>
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-md-3">
              <table class="table table-bordered">
                  <tbody style="text-align: center">
                    <tr>
                      <td id="day01">01</td>
                      <td id="day02">02</td>
                      <td id="day03">03</td>
                      <td id="day04">04</td>
                      <td id="day05">05</td>
                      <td id="day06">06</td>
                      <td id="day07">07</td>
                      <td id="day08">08</td>
                    </tr>
                    <tr>
                      <td id="day09">09</td>
                      <td id="day10">10</td>
                      <td id="day11">11</td>
                      <td id="day12">12</td>
                      <td id="day13">13</td>
                      <td id="day14">14</td>
                      <td id="day15">15</td>
                      <td id="day16">16</td>
                    </tr>
                    <tr>
                      <td id="day17">17</td>
                      <td id="day18">18</td>
                      <td id="day19">19</td>
                      <td id="day20">20</td>
                      <td id="day21">21</td>
                      <td id="day22">22</td>
                      <td id="day23">23</td>
                      <td id="day24">24</td>
                    </tr>
                    <tr>
                      <td id="day25">25</td>
                      <td id="day26">26</td>
                      <td id="day27">27</td>
                      <td id="day28">28</td>
                      <td id="day29">29</td>
                      <td id="day30">30</td>
                      <td id="day31">31</td>
                    </tr>
                  </tbody>
            </table>
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-md-3">
              <table class="table table-bordered">
                  <tbody style="text-align: center">
                    <tr>
                      <td id="hour00">01</td>
                      <td id="hour01">02</td>
                      <td id="hour03">03</td>
                      <td id="hour04">04</td>
                      <td id="hour05">05</td>
                      <td id="hour06">06</td>
                    </tr>
                    <tr>
                      <td id="hour07">07</td>
                      <td id="hour08">08</td>
                      <td id="hour09">09</td>
                      <td id="hour10">10</td>
                      <td id="hour11">11</td>
                      <td id="hour12">12</td>
                    </tr>
                    <tr>
                      <td id="hour13">13</td>
                      <td id="hour14">14</td>
                      <td id="hour15">15</td>
                      <td id="hour16">16</td>
                      <td id="hour17">17</td>
                      <td id="hour18">18</td>
                    </tr>
                    <tr>
                      <td id="hour19">19</td>
                      <td id="hour20">20</td>
                      <td id="hour21">21</td>
                      <td id="hour22">22</td>
                      <td id="hour23">23</td>
                    </tr>
                  </tbody>
            </table>
          </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 bg-white">
        <div id="echart_donut" style="height:650px;"></div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</div>
