<div class="page-title">
    <div class="title_left">
      <h3>Observed trigger</h3>
    </div>
</div>

<div class="well">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            <div class="col-md-4 xdisplay_inputx form-group has-feedback">
              <input type="text" class="form-control has-feedback-left active" id="single_cal1" placeholder="DD/MM/YYYY" aria-describedby="inputSuccess2Status">
              <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
              <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
          </div>
        </div>
        <button type="submit" id="getObserved" class="btn btn-success">Submit</button>
      </fieldset>
    <div id="response">

    </div>
</div>